add upload folder
# Node modules
node_modules/


# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
rules.md
# Optional: SQLite database file
database.sqlite

# Uploads and temporary folders
uploads/
upload/
ht/
log.md

# Optional: output builds, etc.
out/
dist/
build/

# Ignore local git config
.git/config.local
/secrets/
secrets/
/vendor/*
vendor/*
/cache/
cache/*
database.sqlite
*.xlsx

public.zip
